body{font-family: 'Tajawal', sans-serif!important;}
.forcDir{
    direction: ltr!important;

}

.contact_phone i {
    margin-right: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
