body{font-family: 'Poppins', sans-serif!important; font-size:14px;}
.lang_icon{
    float: right!important;
}

.lang_text{
    font-size: 14px;
    font-family: 'Tajawal', sans-serif!important;
}

/*me-0{margin-right:0!important}.me-1{margin-right:.25rem!important}.me-2{margin-right:.5rem!important}.me-3{margin-left:1rem!important}.me-4{margin-right:1.5rem!important}.me-5{margin-right:3rem!important}.me-auto{margin-right:auto!important}*/
/*.me-3{*/
/*margin-left: 0px!important;*/
/*margin-right:.5rem!important*/

/*}*/
/*.cart_item_name{*/
/*    text-align: left!important;*/
/*    width: 100%!important;*/
/*    display: block;*/
/*}*/

.main_menu_uppercase .navbar-nav > li > .nav-link {
    text-transform:none;
    letter-spacing: 1px;
    font-size: 15px;

}


.footer_about_text{
    font-size: 14px;
    line-height:26px!important;
    margin-top: 0px;
    margin-bottom: 0px;
}



.footer_about_more a{
    color: #FF324D;
    float: right;
    margin-left: 0px;
    margin-right: 10px;

}







footer .widget_title {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600!important;
    letter-spacing: 1px;
}


.footer_phone{
    font-size: 15px!important;
    line-height: 30px!important;
    letter-spacing: 1px;
}

.footer_address{
    font-size: 14px!important;
    line-height: 30px!important;
}




