.stop_view{display: none!important;}
.changeLangMobile img{
    width: 20px;
    height: 20px;
}
.lang_icon{
    float: left;
}
.lang_icon img{
    width: 16px;
    height: 16px;

    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;


}

.header_logo{
    max-height: 45px;
    margin-right: 20px;
    width: auto;
}
.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item {
    height: 240px;
}


@media only screen and (min-width: 991px) {
    .header_logo{
        max-height: 55px;
        margin-right: 50px;
        width: auto;
    }

    .banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item {
        height: 450px;
    }

    .changeLangMobile{
        display: none!important;
    }

}



.header_phone_number{
    font-family:'Poppins', sans-serif!important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}


.navbar .navbar-nav > li > .nav-link {
    font-size: 16px;

}


.setActive{
    /*color: #FF324D!important;*/
    background: #FF324D!important;
    color: #fff!important;




}


.categories_btnX {
    padding: 21px 15px;
}



.breadcrumb_section.page-title-mini {
    padding: 20px 0;
}
.page-title-mini .page-title h1 {
    font-size: 20px;
}




.footer_logo img {
    max-width: 80%;
    margin-top: 15px;
}

.footer_about_text{
    font-size: 14px;
    line-height:32px!important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer_about_more{
    width: 100%;

}

.footer_about_more a{
    color: #FF324D;
    float: left;
    margin-left: 10px;

}


