.stop_view{display: none!important;}
.section {padding: 50px 0; position:relative;}
.changeLangMobile img{
    width: 20px;
    height: 20px;
}
.lang_icon{
    float: left;
}
.lang_icon img{
    width: 16px;
    height: 16px;

    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;


}

.header_logo{
    max-height: 45px;
    margin-right: 20px;
    width: auto;
}
.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item {
    height: 240px;
}


@media only screen and (min-width: 991px) {
    .header_logo{
        max-height: 55px;
        margin-right: 50px;
        width: auto;
    }

    .banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item {
        height: 450px;
    }

    .changeLangMobile{
        display: none!important;
    }

}



.header_phone_number{
    font-family:'Poppins', sans-serif!important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}


.navbar .navbar-nav > li > .nav-link {
    font-size: 16px;

}


.setActive{
    background: #FF324D!important;
    color: #fff!important;
}

.breadcrumb_section.page-title-mini {
    padding: 20px 0;
}
.page-title-mini .page-title h1 {
    font-size: 20px;
}




.webSiteFooter .footer_logo img{max-width:80%;margin-top:15px}
.webSiteFooter .footer_about_text{font-size:14px;line-height:30px!important;margin-top:0; margin-bottom: 0px!important;}
.webSiteFooter .footer_about_more{width:100%}
.webSiteFooter .footer_about_more a{color:#FF324D;float:left;margin-left:10px}
.webSiteFooter .widget_title{margin-top:10px;margin-bottom:15px;font-size:17px}
.webSiteFooter .widget_links li{list-style:none;padding-bottom:5px;margin-bottom:10px;border-bottom:1px dotted rgba(0,0,0,.2)}
.webSiteFooter .widget_links li a{font-size:15px;font-weight:500!important}
.webSiteFooter .widget_links li:last-child{padding-bottom:5px}
.webSiteFooter .footer_phone{font-family:'Poppins',sans-serif!important;font-size:16px!important;font-weight:500;line-height:30px!important;letter-spacing:1px}
.webSiteFooter .footer_address{font-size:15px!important;line-height:30px!important}

.webSiteFooter .accordion.accordion_style1 .card-header a{padding-left:40px;padding-right:0;padding-top:0;margin-bottom:0!important;margin-top:15px!important}
.webSiteFooter .accordion_style1 .card-header a::after{top:auto;left:10px}
.webSiteFooter .accordion .card-header a{padding-bottom:10px}
.webSiteFooter #headingFour{border-bottom:0 solid rgba(0,0,0,.125)}
.webSiteFooter #collapseTwo .footer_address{font-size:16px!important}
.webSiteFooter .card-header h6{font-size:16px;padding-bottom:0}


.OurClientList .Client_img  {
    text-align: center;
}
.OurClientList .Client_img img{
    max-width: 90%;
}

.OurClientList .Client_title   {
    font-size: 15px!important;

    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FF324D!important;

}
.Client_title a {

    color: #FF324D!important;

}

.OurClientList .blog_post {
    margin-bottom:20px;

}

@media only screen and (max-width: 480px) {
    .OurClientList .blog_post {
        max-width: 90%!important;
        margin: auto;
    }
}


/*







*/

