body{font-family: 'Poppins', sans-serif!important; font-size:14px;}
.lang_icon{
    float: right!important;
}

.lang_text{
    font-size: 14px;
    font-family: 'Tajawal', sans-serif!important;
}



.main_menu_uppercase .navbar-nav > li > .nav-link {
    text-transform:none;
    letter-spacing: 1px;
    font-size: 15px;

}


.webSiteFooter .footer_about_text{font-size:14px;line-height:26px!important;margin-top:0;margin-bottom:0}
.webSiteFooter .footer_about_more a{color:#FF324D;float:right;margin-left:0;margin-right:10px}
.webSiteFooter .widget_title{text-transform:capitalize;margin-top:10px;margin-bottom:15px;font-size:15px;font-weight:600!important;letter-spacing:1px}
.webSiteFooter .footer_address{font-size:14px!important;line-height:25px!important}
.webSiteFooter .footer_phone{font-family:'Poppins',sans-serif!important;font-size:16px!important;font-weight:500;line-height:30px!important;letter-spacing:1px}
.webSiteFooter .accordion.accordion_style1 .card-header a{padding-left:0;padding-right:40px}
.webSiteFooter .accordion_style1 .card-header a::after{top:auto;left:auto;right:10px}
.webSiteFooter .accordion .card-header a{padding-bottom:10px}
.webSiteFooter .card-header h6{font-size:15px;letter-spacing:1px}



