.border_top{
    border-top: 5px solid var(--red)!important;
}

.padding_eight_all {
    padding: 30px 8%;
}

.def_form_label{
    font-weight: bold;
    font-size: 15px;
}

.def_form_label span{
 color: var(--red);
}

.form-note {
    font-size: 15px!important;
}

.form-note a{
    font-weight: bold;
    color: var(--red);

}
.span_form_error{
    color: var(--red);
    font-size: 14px;
}



.profileCard h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--red);
    padding-top: 4px;
    padding-bottom: 4px;


}

.profileCard .card_but button{
    float: left;
    margin-left:0px;
    margin-top: 20px;
    margin-bottom: 15px;

}

.card_but button ,.card_but a{
    float: left;
    margin-left:1px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.address_h3{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px;
}
.address_h3 span{
    font-size: 13px;
    background: var(--red);
    padding: 5px 8px;
    color: #FFFFFF;
    font-weight: normal;
    float: left;
}




.address_h3 .btn_not{
    position: absolute;
    left: 10px;
    top: 10px;


    font-size: 13px;
    background:#007bff;
    padding: 5px 8px;
    color: #FFFFFF;
    font-weight: normal;

}


.Addinfo{
    margin-bottom: 2px!important;
    font-size: 15px!important;

}

.Addinfo span{
    color: var(--red);
    font-weight: bold;
}

.print_address{
    height: 80px;
    overflow: hidden!important;
}

.butform{
    padding: 0!important;
    background: #0f5132;
}
