.border_top{
    border-top: 5px solid var(--red)!important;
}

.padding_eight_all {
    padding: 30px 8%;
}

.def_form_label{
    font-weight: bold;
    font-size: 15px;
}

.def_form_label span{
 color: var(--red);
}

.form-note {
    font-size: 15px!important;
}

.form-note a{
    font-weight: bold;
    color: var(--red);

}
.span_form_error{
    color: var(--red);
    font-size: 14px;
}



.profileCard h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--red);
    padding-top: 4px;
    padding-bottom: 4px;


}

.profileCard .card_but button{
    float: left;
    margin-left:0px;
    margin-top: 20px;
    margin-bottom: 15px;

}


/*.form-control.is-invalid, .was-validated .form-control:invalid {*/
/*    border-color: #ced4da;*/
/*    padding-left: calc(1.5em + .75rem);*/
/*    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");*/
/*    background-repeat: no-repeat;*/
/*    background-position: left calc(.375em + .1875rem) center;*/
/*    background-size: calc(.75em + .375rem) calc(.75em + .375rem);*/
/*}*/

