.border_top{
    border-top: 5px solid var(--red)!important;
}

.padding_eight_all {
    padding: 30px 8%;
}

.def_form_label{
    font-weight: bold;
    font-size: 15px;
}

.def_form_label span{
 color: var(--red);
}

.form-note {
    font-size: 15px!important;
}

.form-note a{
    font-weight: bold;
    color: var(--red);

}
.span_form_error{
    color: var(--red);
    font-size: 14px;
}



.profileCard h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--red);
    padding-top: 4px;
    padding-bottom: 4px;


}

.profileCard .card_but button{
    float: left;
    margin-left:0px;
    margin-top: 20px;
    margin-bottom: 15px;

}


